# SPDX-License-Identifier: MIT
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 8
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
SortIncludes: false
